
body {
    background-color: cornflowerblue;
}

#circle {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
}

#rectangle {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    border-radius: 1px;
}